In [ ]:
1)
Select FIRST_NAME AS WORKER_NAME from Worker;

In [ ]:
2)
Select distinct DEPARTMENT from Worker;

In [ ]:
3)SELECT * FROM

    (SELECT TOP 5 *FROM table_name ORDER BY ID DESC)

ORDER BY id ASC;