In [ ]:
1)
Select REPLACE(FIRST_NAME,'a','A') from Worker;

In [ ]:
2)
Select * from Worker order by FIRST_NAME asc,DEPARTMENT desc;

In [ ]:
3)
SELECT FIRST_NAME, SALARY from Worker WHERE SALARY=(SELECT max(SALARY) from Worker);