In [ ]:
1)
SELECT SUBSTRING(first_name,1,3) 
     FROM WORKER;

In [ ]:
2)
Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';

In [ ]:
3)
SELECT DepartmentName, MAX(Salary) 
FROM Employee e RIGHT JOIN Department d ON e.DepartmentId = d.DepartmentID 
GROUP BY DepartmentName